.container{
  margin: auto;
  margin-top: 50px;
  width: 800px;
}

.phoneimage{
  width: 450px;
  display: inline-block;
  text-align: center;

}

.phoneimage img{
  width: 400px;
  margin-top: 40px;

}

.signUpForm{
  width: 340px;
  display: inline-block;
  float: right;
  text-align: center;
  font-family: sans-serif;

}

.imageHeader img{
  margin-top: 25px;
  width: 195px;

}

.signUpForm p{
  font-size: 15px;
  font-style: bold;
  width: 200px;
  color: #999;
  margin: auto;
}

.button{
  background-color: #3897fa;
  width: 80%;
  display: block;
  margin: auto;
  padding: 8px 8px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 3px;
  font-style: bold;

}
