.container{
  margin: auto;
  margin-top: 50px;
  width: 800px;
}

.phoneimage{
  width: 450px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;

}

.phoneimage img{
  width: 400px;
  margin-top: 40px;

}

.signUpForm{
  width: 340px;
  display: inline-block;
  float: right;
  text-align: center;

}

.imageHeader img{
  margin-top: 25px;
  width: 150px;

}

.signUpForm p{
  font-family: sans-serif;
  font-size: 15px;
  font-style: bold;
  width: 200px;
  color: #999;
  margin: auto;
}
